<% if (messages.info) { %>
	<div class="alert alert-info">
			<%= messages.info %>
	</div>
<% } %>
<% if (messages.danger) { %>
	<div class="alert alert-danger">
			<%= messages.danger %>
	</div>
<% } %>