<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
				<li><a href="/">Events</a></li>

				<% if (username != null && user != null && user.roles.type.admin == true) { %>
					<li><a href="/create_event">Create Event</a></li>
					<% if (user.roles.type.superuser == true || user.roles.type.admin == true) { %>
						<li><a href="/users">User Management</a></li>
					<% } %>
				<% } %>

				<% if (username != null || user != null) { %>
					<li><a href="/profile">My Profile</a></li>
				<% } %>
      </ul>
        <ul class="nav navbar-nav" style="float: right">
					<% if (username != null || user != null) { %>
						<li class="pull-right"><a href="/logout" class="navbar-nav pull-right">Logout</a></li>
					<% } else { %>
						<li><a href="/cas_login" class="navbar-nav pull-right">Login</a></li>
					<% } %>
      </ul>
    </div>

	</div>
</nav>
