<!DOCTYPE html>
<html lang="en">
<head>
  <% var username = username %>
  <% include ./partials/head %>
</head>
<body class="container">

  <header>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Profile</h1>
      <p>Welcome <%= username %></p>
    </div>
  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>
    
</body>
</html>
