<!DOCTYPE html>
<html lang="en">
<head>
  <% var username = username; var user = user; %>
  <% include ./partials/head %>
</head>
<body class="container">

  <header>
    <% include ./partials/flash %>
    <% include ./partials/header %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Profile <small><%= username %></small></h1>

      <form class="form-horizontal" action="/profile" method="POST">

        <fieldset>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="firstName">First Name</label>
            <div class="col-md-4">
              <input id="firstName" name="firstName" type="text" placeholder="" class="form-control input-md" required="" value="<%= (user && user.firstName) ? user.firstName : '' %>" >
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="lastName">Last Name</label>
            <div class="col-md-4">
              <input id="lastName" name="lastName" type="text" placeholder="" class="form-control input-md" required="" value="<%= (user && user.lastName) ? user.lastName : '' %>" >
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="email">Email Address</label>
            <div class="col-md-4">
              <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="" value="<%= (user && user.email) ? user.email : '' %>" >
            </div>
          </div>

          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label">Resume</label>
            <div class="col-md-4">
              <input id="resume" name="resume" class="input-file" type="file" style="margin-top: 0.5em;">
              <span class="help-block">(Optional) By uploading your resume, you are giving permission for the UMD CS Department to send your resume to companies. Size limit: 16MB.</span>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-md-4 col-md-offset-4">
              <button id="submit" name="submit" class="btn btn-default">Update Profile</button>
            </div>
          </div>

        </fieldset>
      </form>

    </div>




  </main>

  <footer>
    <% include ./partials/footer %>
  </footer>

</body>
</html>
